# Python
__pycache__/
*.pyc
.venv/
.env

# Obsidian noise
obsidian/.obsidian/plugins/*
obsidian/.obsidian/cache/*
obsidian/.trash/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*.code-workspace

# Streamlit
.streamlit/

# Local databases
data/*.db
