dash>=2,<3
plotly>=5,<6
flask>=3,<4
flask-caching>=2,<3
pandas
numpy
pandas-ta
feedparser
python-dotenv>=1.0
waitress
sqlalchemy>=2,<3
psycopg2-binary
diskcache
sentry-sdk
ruff
pre-commit
pytest
requests
